body{
  background-color: rgb(223, 222, 222);
  margin: 0;
  padding: 0;
}

.logo{
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1200ps;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.navbar{
  padding: 20px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
}

@media (max-width: 844px) {
  .navbar .container {
      flex-direction: row;
      align-items: flex-start;
  }

  .nav-links {
      margin-top: 0px;
  }

  .nav-links li {
      margin-right: 0.5em;
      margin-bottom: 10px;
  }
}

a{
  color: rgb(88, 84, 84);
  text-decoration: none;
}

.para{
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
}

.title{
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
}

.content{
  margin-left: 76px;
  margin-right: 25px;
  margin-top: 70px;
  flex-direction: row;

}

.img{
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
  margin-top: 30px;
}



