body{
  background-color: rgb(223, 222, 222);
  margin: 0;
  padding: 0;
}

.logo{
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1200ps;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.navbar{
  padding: 20px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
}

@media (max-width: 844px) {
  .navbar .container {
      flex-direction: row;
      align-items: flex-start;
  }

  .nav-links {
      margin-top: 0px;
  }

  .nav-links li {
      margin-right: 0.5em;
      margin-bottom: 10px;
  }
}


a{
  color: rgb(88, 84, 84);
  text-decoration: none;
}

.head-cnt{
  display: flex;
  align-items: center;
  margin-top: 3em;
}

.abt-cnt{
  font-family: 'Cagliostro', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-right: 0.5em;
  margin-left: 2.1em;
}

.ques{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  line-height: 0.5em;
  margin-left: 5.3em;
  margin-top: 1em;
  margin-bottom: 3em;
}

.email-sec{
  display: flex;
  /* flex-direction: row; */
  margin-top: 2em;
  margin-left: 3.7em;
  transition: 0.3s;
  width: 150px;
  align-items: center;
 }

 .email-sec:hover{
  transition: 1;
  border: 2px solid;
  color: gray;
  border-radius: 3px;
  /* opacity: 0.6; */
  
 }

.email-logo{
  width: 38px;
  height: 38px;
  margin-left: 23px;
} 

.e-cls{
  font-family: sans-serif;
  margin-left: -2em;
}

.link-sec{
  display: flex;
  /* flex-direction: row; */
  margin-top: -0.1em;
  margin-left: 3.7em;
  transition: 0.3s;
  width: 300px;
  align-items: center;
}

.link-sec:hover{
  transition: 1;
  border: 2px solid;
  color: gray;
  border-radius: 3px;
}

.link-logo{
  width: 38px;
  height: 38px;
  margin-left: 23px;
}

.l-cls{
  font-family: sans-serif;
  margin-left: -2em;
}

.insta-sec{
  display: flex;
  /* flex-direction: row; */
  margin-top: -0.1em;
  margin-left: 3.7em;
  transition: 0.3s;
  width: 300px;
  align-items: center;
}

.insta-sec:hover{
  transition: 1;
  border: 2px solid;
  color: gray;
  border-radius: 3px;
}

.insta-logo{
  width: 68px;
  height: 38px;
  margin-left: 7px;
}

.i-cls{
  font-family: sans-serif;
  margin-left: -2.8em;
}
