.hea{
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  margin: 15px 20px 20px 45px;
}

.logo{
  width: 30px;
  margin-right:0px;
}

.left-sec{
  margin-right: 5px;
  margin-left: 20px; 
  font-family: 'Montserrat', sans-serif;

 }

.tittle{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 700px;
;
}

body{
  background-color: rgb(223, 222, 222);
}

.right-sec{
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

.mid-one{
  font-family:'Secular One', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: rgb(56, 51, 51);
  margin-left: 66px;
  margin-top: 150px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.intro{
  font-family:'Roboto', sans-serif;
  font-size: 17px;
  margin-top: -35px;
  margin-left: 66px;
  color: rgb(92, 87, 87);

}

.para{
  margin-right: 20px;
}

a{
  color: rgb(88, 84, 84);
  text-decoration: none;
}

